/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*Base page*/

html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../../static/img/hibs.png");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

.navigation-bar {
    height: 20%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2em;
    background-color: #5cb85c;
}

.title-link {
    text-decoration: none;
}

.title-link:hover {
    text-decoration: none;
}

.nav-links {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.navbar-nav {
    margin-left: 2em;
    margin-right: 2em;
}

.navbar-nav a {
    color: #fafafa;
}

.current_user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.site-footer {
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

/*Buttons*/

button a {
    color: #fafafa;
}

button a:hover {
    text-decoration: none;
    color: #fafafa;
}


/*Index Page*/

.index-container {
    width: 75%;
    line-height: 2em;
}

@media (min-width: 768px) {
    .index-container {
        width: 50%;
        margin-top: 5em;
    }
}

/*Login/Register Page*/

.login-instruction,
.login-form,
.login-fields {
    margin: 2em;
}

.flash-list {
    padding: 0;
}

.flash-message {
    list-style: none;
    color: #9C1A1C;
}

/*General Spacing*/

.mr-title,
.mr-button,
.mr-card,
.mr-para,
.opposition-dropdown,
.opposition-instruction,
.form-instruction,
.opposition-submit,
.matchlist-btn,
.card-button {
    margin-top: 1em;
    margin-bottom: 1em;
}

.matchlist-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


#form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


/* Forms */

.submit-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.submit-button {
    width: 20%;
    background-color: #5cb85c;
    color: #fafafa;
}