/*Base page*/

html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.navigation-bar {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.title-link {
    text-decoration: none;
    color: black;
}
.title-link:hover {
    text-decoration: none;
    color: black;
}

.current_user {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.site-footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*Buttons*/

button a {
    color: #fafafa;
}

button a:hover {
    text-decoration: none;
    color: #fafafa;
}


/*Index Page*/

.index-container {
    width: 75%;
    line-height: 2em;
}

/*Login/Register Page*/

.login-instruction,
.login-form,
.login-fields {
    margin: 2em;
}

.flash-list {
    padding: 0;
}

.flash-message {
    list-style: none;
    color: #9C1A1C;
}

/*General Spacing*/

.mr-title,
.mr-button,
.mr-card,
.mr-para,
.opposition-dropdown,
.opposition-instruction,
.form-instruction,
.opposition-submit,
.matchlist-btn,
.card-button {
    margin-top: 1em;
    margin-bottom: 1em;
}

.matchlist-btn {
    display: flex;
    justify-content: center;
}


#form-row {
    display: flex;
    justify-content: center;
}


/* Forms */

.submit-div {
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 20%;
    background-color: #5cb85c;
    color: #fafafa;
}

