/*Base page*/

html, body {
    height: 100%;
}

.navigation-bar {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.title-link {
    text-decoration: none;
    color: black;
}
.title-link:hover {
    text-decoration: none;
    color: black;
}

.current_user {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.site-footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/*Index Page*/

.index-container {
    width: 75%;
    line-height: 2em;
}

/*Login/Register Page*/

.login-instruction,
.login-form,
.login-fields {
    margin: 2em;
}

/*My Reports*/

.mr-title,
.mr-button,
.mr-card,
.mr-para {
    margin-top: 1em;
    margin-bottom: 1em;
}


#form-row {
    display: flex;
    justify-content: center;
}


/* Forms */

.form-div {
    display: inline-block;
    text-align: center;
    padding: 0;
}

.submit-div {
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 20%;
}

