html, body {
    height: 100%;
}

.navigation-bar {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.title-link {
    text-decoration: none;
    color: black;
}
.title-link:hover {
    text-decoration: none;
    color: black;
}

/*Index Page*/

/*Login Page*/

.login-instruction,
.login-form,
.login-fields{
    margin: 2em;
}

.current_user {
    display: flex;
    justify-content: center;
}

.index-container {
    padding: 5em;
    width: 50%;
    line-height: 2em;
}

#form-row {
    display: flex;
    justify-content: center;
}

.index-btn {
    display: flex;
    justify-content: center;
}

.index-btn a {
    text-decoration: none;
    color: black;
}

/* Forms */

.form-div {
    display: inline-block;
    text-align: center;
    padding: 0;
}

.submit-div {
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 20%;
}

.site-footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}