.title-link {
    text-decoration: none;
    color: black;
}
.title-link:hover {
    text-decoration: none;
    color: black;
}

#form-row {
    display: flex;
    justify-content: center;
}

.index-btn {
    display: flex;
    justify-content: center;
}

.index-btn a {
    text-decoration: none;
    color: black;
}