<!-- Inherits from base.html -->
{% extends 'base.html' %}
{% block content %}

<section class="container">

    <div class="row">
        <div class="col-12">
            <!-- Loops through all the matches added to the dict from the API call. -->
            {% for match in matches %}
            <br>
            <!-- Bootstrap card to house the details taken from within the entry of the dict. -->
            <div class="card">
                <div class="card-body text-center">
                    {{ match.homeTeam.team_name }} {{ match.score.fulltime }} {{ match.awayTeam.team_name }}<br>
                    Venue: <br>{{ match.venue }}<br>
                    Date: {{ match.event_date[0:10] }}<br>
                    League: {{ match.league.name }}<br>

                    <button type="button" class="btn btn-success card-button"><a href="{{ url_for('create_report', ht=match.homeTeam.team_name,
                    at=match.awayTeam.team_name, venue=match.venue, date=match.event_date[0:10], league=match.league.name,
                    score=match.score.fulltime) }}">Create Report</a></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Button to return to 'My Reports' -->
    <div class="row">
        <div class="col-12 matchlist-btn">
                <button type="button" class="btn btn-info text-center"><a href="{{ url_for('index') }}">Return to My Reports</a></button>
        </div>
    </div>
</section>

{% endblock %}