<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>base</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header class="container-fluid" id="header">
        <div class="row">
            <div class="col-12 text-center">
                <h1><a class="title-link" href="{{ url_for('index') }}">HFC SCOUTING ASSISTANT</a></h1>
            </div>
        </div>

    </header>

    {% block content %}
    {% endblock %}
    
    <footer class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <small>Created By Jamie Boyd. Stats courtesy of API Football.</small>
            </div>
        </div>
    </footer>

</body>

</html>