{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Enter you match report here.</h2>
            <form action="{{ url_for('submit_report') }}" method="POST" class="text-center">

                <label>Home Team
                    <input type="text" value="Hearts" name="home_team" id="home_team" disabled>
                </label>
                <label>Away Team
                    <input type="text" value="Hibs" name="away_team" id="away_team" disabled>
                </label>
                <label>Score
                    <input type="text" value="0-7" name="score" id="score" disabled>
                </label>
                <label>Venue
                    <input type="text" value="Tynie" name="venue" id="venue" disabled>
                </label>
                <label>Date
                    <input type="text" value="new years day" name="date" id="date" disabled>
                </label>
                <label>League Name
                    <input type="text" value="Scottish Prem" name="league_name" id="league_name" disabled>
                </label>

                <label>Match Report
                    <textarea name="match_report" id="match_report" cols="50" rows="20" required></textarea>
                </label>



                <button type="sumbmit"><a href="{{ url_for('submit_report') }}">Submit Report</a></button>

            </form>
        </div>
    </div>
</div>

{% endblock %}