{% extends 'base.html' %}
{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <h2>Enter you match report here.</h2>
            <form action="{{ url_for('submit_report') }}" method="POST" class="text-center">

                <label>Home Team
                    <input type="text" value="" name="home_team" id="home_team" >
                </label>
                <label>Away Team
                    <input type="text" value="" name="away_team" id="away_team" >
                </label>
                <label>Score
                    <input type="text" value="" name="score" id="score" >
                </label>
                <label>Venue
                    <input type="text" value="" name="venue" id="venue" >
                </label>
                <label>Date
                    <input type="text" value="" name="date" id="date" >
                </label>
                <label>League Name
                    <input type="text" value="" name="league_name" id="league_name" >
                </label>

                <label>Match Report
                    <textarea name="match_report" id="match_report" cols="50" rows="20" required></textarea>
                </label>


                <input type="submit">

            </form>
        </div>
    </div>
</div>

{% endblock %}