{% extends 'base.html' %}
{% block content %}
<section class="container">
    <div class="row">
        <p>Which opposition would you like to view matches against?</p>
    </div>
    <div class="row">
        <form action="{{ url_for('search_matches') }}" method="POST">
            <div class="col-12 col-md-6">
                <p>By Opposition</p>
                <select name="opposition-list" id="opposition-list">
                    <option value="none" selected>-- choose one --</option>
                    <optgroup label="Premiership">
                        <option value="Aberdeen">Aberdeen</option>
                        <option value="Celtic">Celtic</option>
                        <option value="Hamilton">Hamilton Academical</option>
                        <option value="Hearts">Heart of Midlothian</option>
                        <option value="Kilmarnock">Kilmarnock</option>
                        <option value="Livingston">Livingston</option>
                        <option value="Motherwell">Motherwell</option>
                        <option value="Rangers">The Rangers</option>
                        <option value="Ross County">Ross County</option>
                        <option value="St Johnstone">St Johnstone</option>
                        <option value="St Mirren">St Mirren</option>
                    </optgroup>
                    <optgroup label="Championship">
                        <option value="Alloa">Alloa Athletic</option>
                        <option value="Arbroath">Arbroath</option>
                        <option value="Ayr">Ayr United</option>
                        <option value="Dundee">Dundee</option>
                        <option value="Dundee United">Dundee United</option>
                        <option value="Dunfermline">Dunfermline Athletic</option>
                        <option value="Greenock">Greenock Morton</option>
                        <option value="ICT">Inverness Caledonian Thistle</option>
                        <option value="Partick">Partick Thistle</option>
                        <option value="QOS">Queen of the South</option>
                    </optgroup>
                    <optgroup label="League One">
                        <option value="Airdrie">Airdrieonians</option>
                        <option value="Clyde">Clyde</option>
                        <option value="Dumbarton">Dumbarton</option>
                        <option value="East Fife">East Fife</option>
                        <option value="Falkirk">Falkirk</option>
                        <option value="Forfar">Forfar Athletic</option>
                        <option value="Montrose">Montrose</option>
                        <option value="Raith">Raith Rovers</option>
                        <option value="Stranraer">Stranraer</option>
                    </optgroup>
                    <optgroup label="League Two">
                        <option value="Albin Rovers">Albion Rovers</option>
                        <option value="Annan">Annan Athletic</option>
                        <option value="Brechin">Brechin City</option>
                        <option value="Cove">Cove Rangers</option>
                        <option value="Cowdenbeath">Cowdenbeath</option>
                        <option value="Edinburgh City">Edinburgh City</option>
                        <option value="Elgin">Elgin City</option>
                        <option value="Queens">Queens Park</option>
                        <option value="Stenhousemuir">Stenhousemuir</option>
                        <option value="Stirling">Stirling Albion</option>
                    </optgroup>
                </select>
            </div>
            <div class="col-12">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>
</section>
{% endblock %}