{% extends 'base.html' %}
{% block content %}
<section class="container">
    <div class="row">
        <p>How would you like to search for a match?</p>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>By Season</p>
            <select name="season-list" id="season-list"></select>
        </div>
        <div class="col-12 col-md-6">
            <p>By Opposition</p>
            <select name="oppostion-list" id="opposition-list"></select>
        </div>
    </div>
</section>
{% endblock %}