{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
    <div class="row login-instruction">
        <div class="col-12">
            <p>Please log in below</p>
        </div>
    </div>
    <div class="row login-form">
        <div class="col-12">
            <form action="{{ url_for('login') }}" method="POST">
                <label for="username">Username:</label><br>
                <input type="text" name="username" class="login-fields"><br>
                <label for="password"></label>Password:<br>
                <input type="password" name="password" class="login-fields"><br>
                <input type="submit" class="login-fields">
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>   
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}