{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Please log in below</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="{{ url_for('login') }}" method="POST">
                Username:<br>
                <input type="text" name="username"><br>
                Password:<br>
                <input type="password" name="password"><br>
                <input type="submit">
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>   
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}