{% extends 'base.html' %}
{% block content %}

<section class="container">
    <div class="row">
        <div class="col-12">
            {% for match in matches %}
            <br>
            <div class="card">
                <div class="card-body text-center">
                    {{ match.home_team }} {{ match.score }} {{ match.away_team }}
                    {% if match.report %}
                    <button type="button" class="btn btn-primary"> <a href=""></a> Edit Report</button>
                    <button type="button" class="btn btn-danger"> <a href=""></a> Delete Report</button>
                    {% else %}
                    <button type="button" class="btn btn-success"> <a href="{url_for('create_report')}"></a> Create Report</button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}