{% extends 'base.html' %}
{% block content %}

<section class="container">
    <div class="row">
        <div class="col-12">
            {% for match in matches %}
            <br>
            <div class="card">
                <div class="card-body text-center">
                    {{ match.homeTeam.logo }} {{ match.homeTeam.team_name }} {{ match.score.fulltime }} {{ match.awayTeam.team_name }} {{ match.awayTeam.logo }}
                    {{ match.venue }} {{ match.event_date }}  {{ match.league.name }}
                    {% if match.report %}
                    <button type="button" class="btn btn-primary"> <a href=""></a> Edit Report</button>
                    <button type="button" class="btn btn-danger"> <a href=""></a> Delete Report</button>
                    {% else %}
                    <button type="button" class="btn btn-success"> <a href="{{ url_for('create_report', match_id=match._id) }}">Create Report</a></button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 index-btn">
                <button type="button" class="btn btn-info text-center"><a href="{{ url_for('index') }}">Return to opposition selection</a></button>
        </div>
    </div>
</section>

{% endblock %}