{% extends 'base.html' %}
{% block content %}

<section class="container">
    <div class="row">
        <div class="col-12">
            {% for match in matches %}
            <br>
            <div class="card">
                <div class="card-body text-center">
                    {{ match.homeTeam.team_name }} {{ match.score.fulltime }} {{ match.awayTeam.team_name }}
                    {{ match.venue }} {{ match.event_date }}  {{ match.league.name }}

                    <button type="button" class="btn btn-success"><a href="{{ url_for('create_report', ht=match.homeTeam.team_name,
                    at=match.awayTeam.team_name, venue=match.venue, date=match.event_date, league=match.league.name,
                    score=match.score.fulltime) }}">Create Report</a></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 index-btn">
                <button type="button" class="btn btn-info text-center"><a href="{{ url_for('index') }}">Return to opposition selection</a></button>
        </div>
    </div>
</section>

{% endblock %}