{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Please fill in the below details to register.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="{{ url_for('register') }}" method="POST">
                Username:<br>
                <input type="text" name="username"><br>
                Password:<br>
                <input type="password" name="password"><br>
                <input type="submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}