{% extends 'base.html' %}
{% block content %}

    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h2>User reports</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button><a href="{{ url_for('opposition_choice') }}">Create a new report</a></button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if count %}
                    {% for report in reports %}
                        <div class="card">
                            <div class="card-body">
                                {{ report.home_team }} {{ report.score }} {{ report.away_team }}<br>
                                Venue: {{ report.venue }}<br>
                                Date: {{ report.date }}<br>
                                League: {{ report.league_name }}<br>
                                Report: <br>
                                {{ report.match_report }}<br>
                                <button><a class="card-link" href="{{ url_for('edit_report', report_id=report._id) }}">Edit Report</a>
                                </button>
                                <button><a class="card-link" href="{{ url_for('delete_report', report_id=report._id) }}">Delete Report</a>
                                </button>
                                <br>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You do not have any reports</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}